{{#extend "sidebar-extra"}}
  <h2>Site Timeline</h2>
  <ul class="hanging">
    <li>1998: debut (v1)</li>
    <li>2006: database-driven (v2)</li>
    <li>2009: Mark Koelsch joins</li>
    <li>2014: smart phone app</li>
    <li>2016: modern rewrite (v3)</li>
  </ul>
{{/extend}}

<h1>{{title}}</h1>

<p>
This site debuted in 1998 as a repository for simulator files generated from
actual motor firing data provided by the
<a href="http://tripoli.org" target="_blank">Tripoli Rocketry Association</a> (TRA).
At that time, the goal was to provide accurate simulator files converted directly
from the data obtained at the motor test stand.
I was able to get data for most TRA-certified motors,
but the
<a href="http://nar.org/" target="_blank">National Association of Rocketry</a>
(NAR) was never willing to make their data available.
</p>

<p>
Subsequently, TRA stopped making data available and the site languished.
There was still the original set of generated files, but it quickly became outdated
as new motors were introduced and new motor manufactuers entered the market.
As a stop-gap measure, I added a page to which people could contribute data
from other sources (usually from the motor manufacturer).
</p>

<p>
I had thought repeatedly about changing the format of the site to being
organized around the entire set of certified motors from all three organizations.
(The
<A href="http://www.canadianrocketry.org/" target="_blank">Canadian Association of Rocketry</a>
(CAR) entered the certification business during that time as well.)
Good intentions finally turned into action in 2006 when I started working on
the first programmatic site (v2).
</p>

<p>
The new model turns the old site inside out.
Instead of being driven by motors for which I have data, the list of motors
is all the ones that have been certified, mostly from the
(See the <A href="http://nar.org/SandT/pdf/CombinedList.pdf" target="_blank">NAR comprehensive list</A>.
Additional information is pulled from the web sites of the three certification
organizations to fill in the details.
</p>

<ul>
<li><a href="http://www.nar.org/standards-and-testing-committee/" target="_blank">N.A.R. Standards &amp; Testing</a>
<LI><A href="http://www.tripoli.org/" target="_blank">Tripoli Motor Testing</A>
<LI><A href="http://www.canadianrocketry.org/mcc_about.php" target="_blank">C.A.R. Motor Certification Committee</a>
</UL>

<p>
With the master motor list set up, motor data files can be contributed by anyone who has them.
The data is no longer as "authoritative,"
but at least whatever is floating around can be available in one place.
Please help out the effort by
<a href="/info/contribute.html/">contributing data files</A>
if you have any that are missing here.
</p>

<p>
In 2009, <A href="mailto:mkoelsch@wi.rr.com">Mark Koelsch</A>,
who had been a major contributor of motor data, joined as editor of motor information.
</p>

<p>
In 2014, I started working on a
<a href="/info/mobile.html">smart phone app</a>
that would access the data on this site,
providing search and the motor guide in your hand.
Plus, the results could be saved locally for reference out at the launch site.
The app was released for iOS and Android in early 2015.
</p>

<p>
But the site itself had become dated and was getting hard to maintain.
I had been meaning to rework it to use a responsive layout, but instead ended up
rewriting it from scratch using modern web technologies.
You are looking at "v3."
The source code for the site is
<a href="https://github.com/JohnCoker/thrustcurve3" target="_blank">publicly available</a>
for those who are interested.
</p>

<p>
I hope you enjoy this site and find the information and data useful,
<br/>
<A href="mailto:john@jcsw.com">John Coker</A>
</p>
