{{!< default}}
<row>
  <div class="col-md-8 main">
    {{{body}}}
  </div>
  <div class="col-md-3 col-md-offset-1 sidebar sidebar-right hidden-xs hidden-sm">
    <h2>Information</h2>
    <ul class="links">
      {{#hasPerm 'metadata'}}
      <li><a href="/admin/certorgs/">Certification Orgs.</a></li>
      {{/hasPerm}}
      <li><a href="/motors/missingdata.html">Motors Without Data</a></li>
      <li><a href="/motors/missingstats.html">Motors Missing Stats</a></li>
    </ul>
    {{#block "sidebar-extra"}}
    {{/block}}
  </div>
</row>
