{{!< default}}
<row>
  <div class="col-md-8 main">
    {{{body}}}
  </div>
  <div class="col-md-3 col-md-offset-1 sidebar sidebar-right hidden-xs hidden-sm">
    <h2>Find Rocket Motors</h2>
    <ul class="links">
      <li><a href="/motors/search.html">Attribute Search</a></li>
      <li><a href="/motors/guide.html">Match a Rocket</a></li>
      <li><a href="/motors/browser.html">Browse by Type</a></li>
      <li><a href="/motors/popular.html">Most Popular</a></li>
    </ul>

    <h2>Get Information</h2>
    <ul class="links">
      <li><a href="/motors/updates.html">Latest Motor Updates</a></li>
      <li><a href="/info/simulation.html">Rocket Flight Simulation</a></li>
      <li><a href="/info/motorstats.html">Motor Statistics</a></li>
      <li><a href="/info/certification.html">Motor Certification</a></li>
      <li><a href="/manufacturers/">Motor Manufacturers</a></li>
      <li><a href="/info/glossary.html">Rocket Motor Jargon</a></li>
      <li><a href="/info/contributute.html">You Can Contribute</a></li>
      <li><a href="/info/background.html">About this Site</a></li>
    </ul>
    {{#block "sidebar-extra"}}
    {{/block}}
  </div>
</row>
