{{!< default}}
<row>
  <div class="col-md-8 main">
    {{{body}}}
  </div>
  <div class="col-md-3 col-md-offset-1 sidebar sidebar-right hidden-sm">
    <h2>{{username}}</h2>
    <ul class="links">
      <li><a href="/mystuff/favorites.html">Favorite Motors</a></li>
      <li><a href="/mystuff/rockets.html">My Rockets</a></li>
      <li><a href="/mystuff/preferences.html">Preferences</a></li>
      <li><a href="/mystuff/profile.html">My Profile</a></li>
      <li><a href="/mystuff/logout.html">Log Out</a></li>
    </ul>
    {{#block "sidebar-extra"}}
    {{/block}}
  </div>
</row>
