{{!< default}}
<row>
  <div class="col-md-8 main">
    {{{body}}}
  </div>
  <div class="col-md-3 col-md-offset-1 sidebar sidebar-right hidden-xs hidden-sm">
    <h2>Simulator Data</h2>
    <ul class="links">
      <li><a href="/outbox/">My Outbox{{outboxSuffix}}</a></li>
      <li><a href="/outbox/filesets/">Mfr. File Sets</a></li>
      <li><a href="/info/contribute.html">Contribute Data</a></li>
      <li><a href="/info/motorstats.html">Motor Statistics</a></li>
      <li><a href="/info/glossary.html">Rocket Motor Jargon</a></li>
    </ul>
    {{#block "sidebar-extra"}}
    {{/block}}
  </div>
</row>
