<?xml version='1.0' encoding='utf-8'?>
<widget id="org.thrustcurve.tctg" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ThrustCurve</name>
    <description>
      Mobile device interface to ThrustCurve.org to take motor info
      and rocket performance estimates out to the launch site.
    </description>
    <author email="john@jcsw.com" href="https://www.thrustcurve.org/">
        John Coker
    </author>

    <content src="index.html?phonegap=1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/ios/iTunesArtwork.png" width="512" height="512" />
        <icon src="res/ios/iTunesArtwork@2x.png" width="1024" height="1024" />
        <icon src="res/ios/Icon-60@2x.png" width="120" height="120" />
        <icon src="res/ios/Icon-60@3x.png" width="180" height="180" />
        <icon src="res/ios/Icon-76.png" width="76" height="76" />
        <icon src="res/ios/Icon-76@2x.png" width="152" height="152" />
        <icon src="res/ios/Icon-83.5@2x.png" width="167" height="167" />
        <icon src="res/ios/Icon-Small-40.png" width="40" height="40" />
        <icon src="res/ios/Icon-Small-40@2x.png" width="80" height="80" />
        <icon src="res/ios/Icon-Small-40@3x.png" width="120" height="120" />
        <icon src="res/ios/Icon-Small.png.png" width="29" height="29" />
        <icon src="res/ios/Icon-Small@2x.png.png" width="58" height="58" />
        <icon src="res/ios/Icon-Small@3x.png.png" width="87" height="87" />
    </platform>

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/icon.png"/>
        <icon background="res/android/ldpi-bg.png" foreground="res/android/ldpi-fg.png" density="ldpi" />
        <icon background="res/android/mdpi-bg.png" foreground="res/android/mdpi-fg.png" density="mdpi" />
        <icon background="res/android/hdpi-bg.png" foreground="res/android/hdpi-fg.png" density="hdpi" />
        <icon background="res/android/xhdpi-bg.png" foreground="res/android/xhdpi-fg.png" density="xhdpi" />
        <icon background="res/android/xxhdpi-bg.png" foreground="res/android/xxhdpi-fg.png" density="xxhdpi" />
        <icon background="res/android/xxxhdpi-bg.png" foreground="res/android/xxxhdpi-fg.png" density="xxxhdpi" />
    </platform>
</widget>
