{{#extend "sidebar-extra"}}
  <h2>Certification Orgs</h2>
  <ul class="links">
    <li><a href="http://www.nar.org/" target="_blank">N.A.R.</a></li>
    <li><a href="http://www.tripoli.org/" target="_blank">Tripoli</a></li>
    <li><a href="http://www.canadianrocketry.org/" target="_blank">C.A.R.</a></li>
    <li><a href="http://rocketry.org.au/" target="_blank">A.M.R.S.</a></li>
  </ul>
{{/extend}}

<h1>{{title}}</h1>

<p>
The purpose for certifying hobby rocket motors is to enforce standards
on motor manufacturers and to help ensure the safety of the hobby.
There are currently four organizations that certify hobby rocket motors.
They accept motors certified by the other organizations so
launches held under the auspices of any of them allow all certified motors to be flown.
</p>


<a name="nar"></a>
<h2>National Association of Rocketry</h2>

<div class="row">
  <div class="col-sm-2">
    <a href="http://www.nar.org/" target="_blank"><img width="80" height=80" src="/images/info/certification/nar.png" alt="NAR"></a>
  </div>
  <div class="col-sm-10">
    <p>
    The NAR is the oldest organization and promotes model rocketry in the United States.
    It has traditionally been focused on model rocketry (A-F class motors),
    but has started certifying high-power motors in recent years.
    <p>
    
    <p>
    <big><a href="http://www.nar.org/" target="_blank">www.nar.org</a></big>
    </p>
  </div>
</div>


<a name="tra"></a>
<h2>Tripoli Rocketry Association</h2>

<div class="row">
  <div class="col-sm-2">
    <a href="http://www.tripoli.org/" target="_blank"><img width="80" height=80" src="/images/info/certification/tripoli.png" alt="Tripoli"></a>
  </div>
  <div class="col-sm-10">
    <p>
    TRA was formed to promote high-power rocketry.
    It is international, with prefectures all over the world.
    Tripoli is the primary organization for certifying high-power motors manufactured in the United States.
    </p>
    
    <p>
    <big><a href="http://www.tripoli.org/" target="_blank">www.tripoli.org</a></big>
    </p>
  </div>
</div>
  

<a name="car"></a>
<h2>Canadian Association of Rocketry</h2>

<div class="row">
  <div class="col-sm-2">
    <a href="http://www.canadianrocketry.org/" target="_blank"><img width="80" height=80" src="/images/info/certification/car.png" alt="CAR"></a>
  </div>
  <div class="col-sm-10">
    <p>
    CAR was formed to promote rocketry in Canada
    and is the primay organization for certifying motors manufactured there,
    notably by Cesaroni Technology Incorporated.
    </p>
    
    <p>
    <big><a href="http://www.canadianrocketry.org/" target="_blank">www.canadianrocketry.org</a></big>
    </p>
  </div>
</div>


<a name="amrs"></a>
<h2>Australian Model Rocket Society</h2>

<div class="row">
  <div class="col-sm-2">
    <a href="http://rocketry.org.au/" target="_blank"><img width="80" height=80" src="/images/info/certification/amrs.png" alt="AMRS"></a>
  </div>
  <div class="col-sm-10">
    <p>
    AMRS was founded by several affiliate rocketry groups already established across Australia.
    Currently they are only certifying motors for the Australian domestic market with submissions
    from local manufacturers at their testing facilities.
    </p>
    
    <p>
    <big><a href="http://rocketry.org.au/" target="_blank">rocketry.org.au</a></big>
    </p>
  </div>
</div>


<a name="nfpa"></a>
<h2>NFPA Standard</h2>

<p>
<a href="http://www.nfpa.org/aboutthecodes/AboutTheCodes.asp?DocNum=1125" target="_blank">NFPA 1125</a>
<I>Code for the Manufacture of Model Rocket and High Power Rocket Motors</I>
is the base document for the testing requirements for hobby rocket motors in the USA.
</p>

<p>
The contents of the document is carefully protected against casual reading.
(You must purchase it and then even reading it requires access rights on the document.)
The license does not allow reproduction here,
but there are some interesting tidbits from Chapter 8, Testing and Certification,
that are worth paraphrasing (from the 2001 version):
</p>

<ul>
  <li>
  A minimum of 10 samples are to be tested for model rocket motors,
  2 for high-power motors.
  </li>
  <li>
  Testing must be done at, or corrected to,
  sea level and a temperature of 20&deg;C (68&deg;F).
  </li>
  <li>
  The total impulse must not have a standard deviation greater than 6.7%.
  </li>
  <li>
  The ejection delay must not vary more than 1.5 second or 20%
  (whichever is greater, up to 3s) from average.
  </li>
  <li>
  The average thrust must not vary more than 20%
  (or 1N for model rocket motors, 10N for high-power motors, whichever is greater) from average.
  </li>
  <li>
  The motor must be incapable of ignition when subjected to
  temperatures of 125&deg;C (257&deg;F) for 30 minutes.
  </li>
  <li>
  No part of the case must exceed 200&deg;C (392&deg;F) during or after firing.
  </li>
</ul>

<p>
As you can see, there is much lattitude for variation between individual motors.
However, most modern manufacturers hold tighter tolerances in production.
</p>
