<h1>{{title}}</h1>

<p>
This page contains a glossary of terms used on the site.
Most of these terms are standard for the hobby, but a few of them
merit additional explanation.
A further explanation of motor statistics can be found on the
<A HREF="/info/motorstats.html">Motor Statistics page</a>
and more information on certification organizations can be found on the
<A HREF="/info/certification.html">Certification page</a>.
</p>

<dl>

  <a name="avg_thrust"></a>
  <dt>Average Thrust</dt>
  <dd>
   The Total Impulse divided by the Burn Time (seconds)
   yields the average thrust force.
   See the <a href="/info/motorstats.html">Motor Statistics page</a> for more info.
  </dd>

  <a name="burn_time"></a>
  <dt>Burn Time</dt>
  <dd>
   The number of seconds for which the motor burns.
   (Per NFPA 1125, the beginning and end of the curve,
   where the thrust is below 5% of the maximum,
   are excluded.)
   See the <A href="/info/motorstats.html">Motor Statistics page</a> for more info.
  </dd>

  <a name="case_info"></a>
  <dt>Case Info</dt>
  <dd>
   The hardware required by a reloadable motor.
  </dd>

  <a name="cert_date"></a>
  <dt>Cert. Date</dt>
  <dd>
   The start date for the certification of this motor.
  </dd>

  <a name="cert_desig"></a>
  <dt>Cert. Desig.</dt>
  <dd>
   The designation for this motor as assigned by the certification organization,
   usually reflecting the tested values.
  </dd>

  <a name="cert_org"></a>
  <dt>Cert. Org.</dt>
  <dd>
   The organization that certified this motor.
   See the <a href="/info/certification.html">Certification page</a> for more info.
  </dd>

  <a name="common_name"></a>
  <dt>Common Name</dt>
  <dd>
   The commonly-used name of the motor.  This standard format includes
   the Impulse Class and average thrust.
   See the <a href="/info/motorstats.html">Motor Statistics page</a> for more info.
  </dd>

  <a name="format"></a>
  <dt>Data Format</dt>
  <dd>
   The format of the simulator data.
   Different flight simulators use data in different formats, although the "RASP"
   format has become the standard for data interchange.
   See the <a href="/info/simulators.html">Simulators page</a> for more info.
  </dd>

  <a name="data_sheet_url"></a>
  <dt>Data Sheet</dt>
  <dd>
   This is the web page provided by the certification organization on
   a particular motor.  Those pages often contain more detail on the motor,
   including official thrust curves and other statistics.
  </dd>

  <a name="data_source"></a>
  <dt>Data Source</dt>
  <dd>
   Where the simulator data comes from:
   "cert" is data provided by the certification organization,
   "mfr" is data provided by the motor manufacturer,
   and "user" is data authored by an unofficial source.
  </dd>

  <a name="delays"></a>
  <dt>Delays</dt>
  <dd>
   The list of delays available for this motor (if any).
  </dd>

  <a name="mfr_desig"></a>
  <dt>Designation</dt>
  <dd>
   The official name of the motor as specified by the manufacturer.
   Some manufacturers (notable HyperTek) use a designation that is very
   different from the Common Name and not very useful for searching.
  </dd>

  <a name="diameter"></a>
  <dt>Diameter</dt>
  <dd>
   The main diameter of the motor in millimeters.
  </dd>

  <a name="class"></a>
  <dt>Impulse Class</dt>
  <dd>
   The category of total impulse to which the motor belongs.
   See the <a href="/info/motorstats.html">Motor Statistics page</a> for more info.
  </dd>

  <a name="initial_thrust"></a>
  <dt>Initial Thrust</dt>
  <dd>
   The average thrust during the first half second of the burn.
   See the <a href="/info/motorstats.html">Motor Statistics page</a> for more info.
  </dd>

  <a name="isp"></a>
  <dt>I<small><sub>SP</sub></small></dt>
  <dd>
   The "specific impulse" is the total impulse over the weight of the propellant,
   which gives you a measure of the motors efficiency for lifting since the higher
   this number is, the more impulse you get for the motor's weight.
   See the <a href="/info/motorstats.html">Motor Statistics page</a> for more info.
  </dd>

  <a name="length"></a>
  <dt>Length</dt>
  <dd>
   The overall length of the motor case.
  </dd>

  <a name="max_Q"></a>
  <dt>Max Q</dt>
  <dd>
   The point in flight when the rocket encounters the maximum dynamic pressure.
   For hobby rockets, which stay in the lower atmosphere, max Q occurs at maximum velocity.
   See the <a href="http://en.wikipedia.org/wiki/Max_Q" target="_blank">Wikipedia article</a>
   for more info.
  </dd>

  <a name="max_thrust"></a>
  <dt>Max Thrust</dt>
  <dt>Peak Thrust</dt>
  <dd>
   The largest instantaneous thrust force produced by the motor during its burn.
  </dd>

  <a name="prop_info"></a>
  <dt>Propellant Info</dt>
  <dd>
   The name of the propellant formulation.
  </dd>

  <a name="prop_wgt"></a>
  <dt>Propellant Weight</dt>
  <dd>
   The weight of the propellant used by this motor.
  </dd>

  <a name="tot_imp"></a>
  <dt>Total Impulse</dt>
  <dd>
   The total amount of energy produced by the motor (force &times; time).
   See the <A href="/info/motorstats.html">Motor Statistics page</a> for more info.
  </dd>

  <a name="total_wgt"></a>
  <dt>Total Weight</dt>
  <dt>Loaded Weight</dt>
  <dd>
   The total loaded weight of this motor (propellant and case).
  </dd>

  <a name="type"></a>
  <dt>Type</dt>
  <dd>
   The style of motor.  Single-use motors (SU) are used just once and discarded.
   Reloadable motors use solid propellant and a reusable aluminum motor case.
   Hybrid motors use solid propellant and a gaseous oxidizer.
  </dd>

</dl>
