<h1>{{title}}</h1>

<p>
Several important characteristics of the performance of a motor are used commonly when
describing it, both on these pages and in general hobby parlance.
For illustration purposes, here is the thrust curve of an AeroTech G80
(original graph from the NAR data sheet).
</p>

<p class="img">
<img width="460" height="190" src="/images/info/motorstats/G80stats.gif" alt="AeroTech G80">
</p>

<p>
<b>Total impulse</b> is the product of thrust times duration over the motor burn time,
and is measured in Newton-seconds (Ns).
This measures the total amount of momentum imparted to the rocket by the motor.
The total impulse (along with such factors as rocket mass and air drag)
determines how high the motor can propel your rocket.
(Thanks to Greg Lyzenga for this description.)
</p>

<p>
The <b>impulse class</b> is a letter code assigned to a range of total impulse with
each letter being twice as powerful as the previous.
For example, the "AeroTech G80" shown above has a total impulse of 120Ns
making it a 'G' class motor.
</p>

<p>
<b>Average thrust</b> is the average instantanous force the motor produces
during its burn and is measured in Newtons (N).
Note that because most thrust curves are not flat, most of the time the
motor is not producing the average thrust.
The average thrust tells you how heavy a rocket the motor can lift,
although since different motors produce different shaped thrust curves, it can be misleading.
(Average thrust is determined by dividing the total thrust over the normalized
burn time&mdash;within the 5% threshold.)
</p>

<p>
<b>Initial thrust</b> is the average force the motor produces for the first &frac12; second
and is measured in Newtons (N).
This estimates the thrust produced during the time the rocket is lifting off,
which is more useful than the average thrust for determining how heavy a rocket the
motor can safely lift, especially for long-burn motors.
Note that initial thrust is estimated from the simulator data files since it is not
published by the certification organizations.
</p>

<p>
<b>Maximum thrust</b> is the maximum amount of force produced by the motor
during its burn.  Like average thrust, this is measured in Newtons (N).
Generally, there is a small spike near the beginning which has the highest thrust, although
the shape of the curve varies with the motor design and propellant mixture.
</p>

<p>
<b>Burn time</b> is the number of seconds for which the motor produces thrust.
This tells you how long the motor will keep pushing your rocket.
Burn time is determined by chopping off the ends of the curve when the
thrust is below 5% of the maximum; see <a href="#burn-time">Burn Time Normalization</a> below.
</p>


<a name="motor-comparison"></a>
<h2>How a Motor Compares</h2>

<p>
When looking at a motor page, the statistics give you absolute values, but can be hard to put into context.
The top section has two columns: the statistics and a set of graphs comparing this
motor with others in the same impulse class (letter).
Here are the comparison graphs for the <a href="/motors/AeroTech/K550W/">Aerotech K550</a>:
</p>

<div class="row">
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-4">
    <p>Compared with all 161 <b>K</b> motors:</p>
    <img class="compare" src="/motors/AeroTech/K550W/compare.svg?stat=totalImpulse">
    <p class="compare-legend">Total Impulse</p>
    <img class="compare" src="/motors/AeroTech/K550W/compare.svg?stat=avgThrust">
    <p class="compare-legend">Average Thrust</p>
  </div>
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-4">
    <p>&nbsp;</p>
    <img class="compare" src="/motors/AeroTech/K550W/compare.svg?stat=maxThrust">
    <p class="compare-legend">Maximum Thrust</p>
    <img class="compare" src="/motors/AeroTech/K550W/compare.svg?stat=burnTime">
    <p class="compare-legend">Burn Time</p>
  </div>
  <div class="col-md-1">&nbsp;</div>
</div>

<p>
First of all, the gray bars represent a histogram of all the motors in that impulse class.
The height of the bar indicates the number of motors falling into that tenth of the range of values.
For example, total impulse tends to cluster to the lower end of the range (the "baby Ks"),
but there are a lot of motors right near the top (the "full Ks").
</p>

<p>
The motor being viewed is indicated with a red line, which makes it easy to see where it fits.
This makes it clear that the AT K550 is a standard "baby K" (a 20% K).
</p>

<p>
The same goes for the other statistics, and we can see that the K550 is typical among K motors.
For an example of a less-typical motor, take a look at the <a href="/motors/AeroTech/M750W/">AT M750</a>.
Being a long-burn motor, it has lower thrust and much longer burn time than average.
</p>

<h2>Other Information</h2>

<p>
The <b>common name</b> of the motor is formed from the total impulse,
represented by the impulse class, and the average thrust.
For example, the "AeroTech G80" shown above
is a 'G' class motor and has an average thrust of 77.5N
(rounded to 80 in this case).
</p>

<p>
Another interesting number is the <b>specific impulse</b>, 
or <b>I<small><sub>SP</sub></small></b>.
This number is the total impulse over the weight of the propellant,
which gives you a measure of the motor's efficiency for lifting since the higher
this number is, the more impulse you get for the propellant's weight.
Think of this number as the quality measure of the propellant formulation.
Isp may be expressed in "seconds" and intuitively, it means something like
"how many seconds this propellant can accelerate its initial mass at 1 gee".
<br/>
(Thanks to Robert J. Kelley for this description.)
</p>

<p>
The mechanical properties of the motor are also interesting for motor selection.
Of course, the <b>diameter</b> tells you whether it will fit in your motor mount tube.
The <b>length</b> gives you an idea of how much space you need in the rocket for the
motor casing.
The <b>total weight</b> is very helpful when testing your rocket's stability.
When measuring the center of gravity, if you don't have the motor and casing yet,
you can make up a dummy of the same weight using shot, dirt or whatever you have handy.
</p>

<p>
Note that on this site, all statistics listed on the motor page are from the certification
organization (as published on their web sites).
For more information on these organizations, see the
<a href="/info/certification.html">Certification page</a>.
</p>

<p>
The <a href="/info/glossary.html">glossary page</a> has information on many terms used
on this site and elsewhere.
</p>


<a name="burn-time"></a>
<h2>Burn Time Normalization</h2>

<p>
Based on NFPA 1125:
</p>
<ul>
  <li>The burn time is from 5% of peak thrust, at both the beginning and end of the curve.</li>
  <li>Average thrust is the total impulse during the 5%-defined burn time, divided by the burn time.</li>
  <li>The total impulse is measured over the whole thrust curve (not the 5%-defined burn time).</li>
</ul>

<p>
This means that the letter for the motor class is based on the area under the whole curve,
but the value after the letter is based on the average thrust during the truncated burn time.
</p>

<p>
A common error is to measure average thrust by dividing Total Impulse by the "last action" burn time.
This gives a different value than the correct NFPA 1125 method.
For motors with long tails, the correct method gives a better indication of the useful average thrust.
<br/>
(Thanks to John DeMar for this succinct explanation.)
</p>
