<h1>{{title}}</h1>

<ul>
<li>No user data is scraped from other sites.
<li>No emails will be sent by the site except except for password reset.
<li>No data is shared with any third-party sites.
<li>No ads are shown on this site.
<li>Nothing is sold and there will be solicitations to "support" it.
</ul>

<h2>Accounts</h2>

<p>
There is no need to sign up for an account on ThrustCurve.org, but if you do you can contribute motor data and more
site features are available.
When you sign up for an account, your name will be visible on things you contribute.
You can choose whether your email will be visible or hidden.
Rockets you create can be visible or hidden.
</p>

<p>
None of your personal information will be used for marketing purposes nor given/sold to other sites for any reason.
There is no third-party login integration (Facebook, Google, etc) so information entered here stays only on the site.
</p>
