{{#extend "sidebar-extra"}}
  <h2>Simulators</h2>
  <ul class="links">
    <li><a href="#aerodrag">AeroDRAG</a></li>
    <li><a href="#openrocket">OpenRocket</a></li>
    <li><a href="#rasaero">RASAero</a></li>
    <li><a href="#rocksim">RockSim</a></li>
    <li><a href="#spacecad">SpaceCAD</a></li>
    <li><a href="#winroc">WinRoc</a></li>
    <li><a href="#auxiliary">other software</a></li>
  </ul>
{{/extend}}

<h1>{{title}}</h1>

<p>
This site provides data files for use with the various flight simulators.
On this page is information on the available simulator programs.
See the <a href="/info/simulation.html">flight simulation page</a>
for more information on rocket flight simulation in general.
</p>

<ul class="links">
  <li>
  <a href="#aerodrag">AeroDRAG</a>
  Windows drag analysis and simulation
  </li>
  <li>
  <a href="#openrocket">OpenRocket</a>
  Cross-platform (Java) simulation
  </li>
  <li>
  <a href="#rasaero">RASAero</a>
  Windows simulation
  </li>
  <li>
  <a href="#rocksim">RockSim</a>
  Windows &amp; Mac design and simulation
  </li>
  <li>
  <a href="#spacecad">SpaceCAD</a>
  Windows design and simulation
  </li>
  <li>
  <a href="#winroc">WinRoc</a>
  Windows design and simulation
  </li>
</ul>

<p>
There is also a simple rocket flight simulator available right on this site
as part of the
<a href="/motors/guide.html">motor guide</a>.
(You don't need to download any software so it works on all platforms.)
</p>

<p>
If you use a program not represented here, please
<a href="mailto:john@jcsw.com">let me know</a>
and I'll add its info and try to help you find data for it.
</p>

<a name="aerodrag"></a>
<h2>AeroDRAG &amp; Flight Simulation</h2>

<p>
<img class="dropcap" src="/images/windows.png" alt="Windows">
AeroDRAG allows the rocketeer to quickly and easily perform rocket drag
(C<sub><small>D</small></sub>)
and flight simulations up to Mach 20, including support for varying C<sub><small>D</small></sub> with velocity.
It is a for-purchase program and you can find out more at the
<a href="http://www.aerorocket.com/aerodrag.html" target="_blank">AeroDRAG page</a>.
</p>

<p>
AeroDRAG appears to use motor data in a proprietary format and there is no obvious
way to incorporate data from this site or other sources.
However, it appears to be possible to download RASP format files and manually enter
the data points and summary info.
</p>


<a name="openrocket"></a>
<h2>OpenRocket</h2>

<p>
<img class="dropcap" src="/images/java.png" alt="Java">
OpenRocket is a Free, fully featured model rocket simulator written in Java.
It can be used to design and simulate rockets before actually building and flying them.
OpenRocket features a full six-degree-of-freedom simulation, realistic wind modeling,
a multitude of different components including free-form fins and canted fins,
clustering and staging.  OpenRocket is Open Source&ndash;its source code is freely available to
study and extend.
See the <a href="http://openrocket.sourceforge.net/" target="_blank">OpenRocket site</a>
for more information and to download.
</p>


<a name="rasaero"></a>
<h2>RASAero</h2>

<p>
<img class="dropcap" src="/images/windows.png" alt="Windows">
RASAero is a combined aerodynamic analysis flight simulation software package.
RASAero can also be used for predicting aerodynamic coefficients for use in other
flight simulation programs for orbital rockets.
This program is freeware and you can find out more
<a href="http://www.rasaero.com/" target="_blank">www.rasaero.com</a>.
</p>

<p>
RASAero uses motor files in the very common RASP format and you can add the files
from this site directly to its database.
</p>


<a name="rocksim"></a>
<h2>RockSim</h2>

<p>
<img class="dropcap" src="/images/windows.png" alt="Windows">
<img class="dropcap" src="/images/os_x.png" alt="OS X">
RockSim is a full featured rocket design and simulation program from Apogee
Components. It allows a modeler to design their rocket, and then perform a
detailed and accurate simulation that predicts how well it will
fly. RockSim is different from other simulators in that it calculates the
changing weight of the rocket as the motor burns off propellant. This not
only affects the altitude, but the stability and trajectory of the rocket
as well. RockSim is the first and only inexpensive rocketry program that
predicts the dynamic stability of the rocket, which is how it reacts to
wind disturbances. This is displayed as a movie-like animation of the
rocket's trajectory; so even non-scientists can easily see how the vehicle
will perform.
</p>

<p>
The software will also aid the modeler in building their rocket, as it
allows printing of templates, pattern sheets, as well as 3D pictures of the
model.
</p>

<p>
RockSim accepts RASP.eng files, but for greater simulation accuracy, and
ease in selecting from the over 360+ certified rocket engines, users of
RockSim v8 and newer should select the "RockSim Engine format" (.rse). This
newer engine format saves additional information about the rocket
engine. This includes the type of motor (single-use, reloadable, hybrid),
and the CG curve of the motor as it burns off propellant. This becomes
important in hybrid motors in particular; as the CG moves rearward as they
burn, making the rocket less stable.
</p>

<p>
RockSim comes in two versions: Windows (requires Win98 or newer) and
Macintosh OS X (v10.3 or newer). The design and motor data files are
cross-platform compatible.
You can download a trial version or purchase RockSim from
<a href="https://www.apogeerockets.com/Rocket_Software/RockSim" TARGET=_BLANK>Apogee Components</a>.
</p>

<p>
<I>Contributed by <a href="http://www.ApogeeRockets.com/contact_us.html" TARGET=_BLANK>Tim Van Milligan</a>.</I>
</p>


<a name="spacecad"></a>
<h2>SpaceCAD</h2>

<p>
<img class="dropcap" src="/images/windows.png" alt="Windows">
SpaceCAD is a design and simulation environment which looks very
complete and professional.
SpaceCAD is now finished and available and you can find more at the
<a href="http://www.spacecad.com/" target="_blank">SpaceCAD web site</a>.
</p>

<p>
SpaceCAD uses RASP format files (.eng).
Download RASP motor data files from this site and edit them into the
SPACECAD.ENG file in the installation directory.
However, SpaceCAD comes with an up-to-date set of motor data so this shouldn't
be necessary initially.
</p>

<p>
See the
<a href="http://www.spacecad.com/" target="_blank">SpaceCAD web site</a>
or contact
<a href="mailto:andreas.firnau@spacecad.com">Andreas Firnau</a>
for more information.
</p>

<a name="winroc"></a>
<h2>WinRoc</h2>

<p>
<img class="dropcap" src="/images/windows.png" alt="Windows">
WinRoc is a suite of rocketry programs, which has a nice graphical user interface.
The WinRoc programs are the easiest to use and the latest version, WinRoc 4.5,
is a 32-bit program for Windows 95 and NT.
</p>

<p>
This package was written by Steve Roberson, who passed away in 2003.
The official page is gone, but see
<a href="https://www.discountrocketry.com/winroc_software.php" target="_blank">Discount Rocketry</a>
for a download.
</p>

<p>
WinRoc uses a monolothic motor database in binary format and
there is no way to add data for a specific motor without entering it in by hand.
Thus, you cannot get data for WinRoc from ThrustCurve.org.
See the WinRoc page above for the latest downloads.
</p>


<a name="auxiliary"></a>
<h1>Auxiliary Programs</h1>

<p>
These programs are not flight simulators per-se, but are related to hobby
rocket motor analysis and simulation and you may find them useful.
</p>

<ul class="links">
  <li>
  <a href="#aerofinsim">AeroFinSim</a>
  Rocket fin structural analysis
  </li>
  <li>
  <a href="#engineeditor">Engine Editor</a>
  RockSim (RSE) engile file editor
  </li>
  <li>
  <a href="#thrustcurvetool">Thrust Curve Tool</a>
  Analyze test data and produce ENG files
  </li>
  <li>
  <a href="#vcp">VCP</a>
  Rocket stability calculator for Windows
  </li>
  <li>
  <a href="#burnsim">BurnSim</a>
  Solid Propellant Internal Ballistic Simulation
  </li>
</ul>

<a name="aerofinsim"></a>
<h2>AeroFinSim</h2>

<p>
AeroFinSim is a structural analysis program for determining the forces
acting on rocket fins and predicts the highest speed the rocket can safely attain.
AeroFinSim is a Windows GUI program.
</p>

<p>
See the
<a href="http://www.aerorocket.com/finsim.html" target="_blank">AeroFinSim page</a>
for more information and purchase details.
</p>


<a name="engineeditor"></a>
<h2>RockSim Engine Editor</h2>

<p>
The program "Engine Editor" is the software that is used to create engine
files. The process of making a motor file is straight-forward. First, the
user enters basic data about the rocket motor, such as weights, sizes, and
available delay choices. Then the thrust curve is input into the software
by clicking points on a grid plot. These points can be moved around to
match the actual curve of the rocket motor. As the plot is created, the
software calculates the Total Impulse, average Thrust, and Specific Impulse
of the engine. Finally, the file is saved to disk, in either RASP.eng or
RockSim (.rse) format. While the data files are saved in metric units, the
user can enter the raw data in either English or Metric format (or a
combination of both).
</p>

<p>
"Engine Editor" also has features to manage the task of organizing engine
data files. You can append two different engine files into one, or break a
data file containing several individual motors into separate files.
</p>

<p>
A new feature being added to Engine Editor will allow a user to read in raw
Time/Thrust data from a load cell or Excel file. This will make it easier
to create the time/thrust plot for home-brew rocket motors.
</p>

<p>
The Engine Editor comes bundled with the RockSim software from Apogee
Components. It is available for Windows (win95 or newer) or Macintosh OS X
(version 10.3 or newer).  You can download a trial version or purchase the
RockSim/Engine Editor combo-package from
<a href="https://www.apogeerockets.com/Rocket_Software/RockSim" TARGET=_BLANK>Apogee Components</a>.
</p>

<p>
<I>Contributed by <a href="http://www.ApogeeRockets.com/contact_us.html" TARGET=_BLANK>Tim Van Milligan</a>.</I>
</p>


<a name="thrustcurvetool"></a>
<h2>Thrust Curve Tool</h2>

<p>
<b>Thrust Curve Tool</b> was designed to analyze rocket motor thrust data and to
produce standard ".eng" files for use with flight simulators such as RockSim.
The program makes it easy to visualize the thrust curve,
determine the motor's specifications, plot the data, and produce an optimal
".eng" file.  It's now possible to go from motor test firing to rocket
simulation in just a few minutes!
</p>

<p>
See the
<a href="http://www.thrustgear.com/software.html" target="_blank">thrustgear.com</a>
site for more info and to download.
</p>


<a name="vcp"></a>
<h2>VCP &ndash; Visual Center of Pressure</h2>

<p>
<b>VCP</b> is a Center of Pressure/Center of Gravity stability calculator for Windows.
Its spreadsheet-style operation permits easy quick looks at what-if tradeoffs
when designing rockets, and its graphic display ensures data entry accuracy.
</p>

<p>
The official page is gone, but see the
<a href="http://ae.sharif.edu/~rocket_design/Software.htm" target="_blank">Sharif University site</a> to download.
</p>

<a name="burnsim"></a>
<h2>BurnSim</h2>

<p>
<b>BurnSim</b> is a solid rocket steady-state ballistic simulation software package for the Windows platform.
In a nutshell, input your motor, nozzle and propellant characteristics and BurnSim calculates the Kn through
the burn and predicts estimated chamber pressure and motor performance.
Once your motor design is in BurnSim, you can tweak the parameters such as nozzle diameter or grain core diameter
and instantly see how the Kn, chamber pressure, and motor thrust is affected.
BurnSim will also optimize your nozzle design.
</p>

<p>
See the
<a href="http://burnsim.com/" target="_blank">BurnSim site</a> for more info and to download.
</p>
