/*
 * header:    #2e448c (@brand-primary)
 * highlight: #9e1a20
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 55px;
  padding-bottom: 50px;
}
h1:first-child {
  margin-top: 0;
}

img.navbar-brand {
  padding: 0;
  padding-right: 15px;
}
#footer-nav {
  margin-botttom: 0;
}

.sidebar {
  position: relative;
  top: 2em;
}
.sidebar-right {
  border-left: 4px solid #2e448c;
}
.sidebar h2:first-child {
  margin-top: 0;
}
.sidebar h2,
.sidebar h3 {
  color: #777;
  font-weight: normal;
}
.sidebar h2 {
  font-size: 20px;
}
.sidebar h3 {
  font-size: 16px;
}

ul.hanging {
  list-style: none outside none;
  margin-left: 0;
  padding-left: 3em;
  text-indent: -2.5em;
}
ul.hanging li {
  padding-left: 1em;
}
ul.hanging li .tag {
  color: black;
  font-weight: bolder;
}
ul.hanging li .tag:after {
  content: ":";
}

dd {
  margin-left: 2em;
}

.label-as-badge {
  border-radius: 1em;
  position: relative;
  top: -0.1em;
}
h1 .label-as-badge,
h2 .label-as-badge {
  font-size: 0.4em;
  top: -0.6em;
}

p.img {
  text-align: center;
}

img.dropcap {
  float: left;
  margin-right: 1em;
  margin-top: 0.3em;
}

th.number,
td.number {
  text-align: right;
}
.dataTable td.number {
  padding-right: 1.25em;
}
table.dataTable thead th.sorting:after {
  color: black;
}
table td img.trend {
  width: 16px;
  height: 16px;
}

form button,
form a.btn {
  margin-right: 0.3em;
}
form p.form-control-static.id {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.form-condensed .form-group {
  margin-bottom: 0;
}
.form-condensed .control-label {
  padding-top: 2px;
}
.form-condensed .form-control,
.form-condensed .form-control-static {
  padding-top: 2px;
  min-height: 0;
}
.form-group .help-block {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}
.form-submit {
  margin-top: 5px;
}

a.favorite {
  color: #2e448c;
}
a.favorite i.fa {
  margin-left: 0.25em;
}
