html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 55px;
  padding-bottom: 50px;
}
h1:first-child {
  margin-top: 0;
}

img.navbar-brand {
  padding: 0;
  padding-right: 15px;
}
#footer-nav {
  margin-botttom: 0;
}

.sidebar {
  position: relative;
  top: 2em;
}
.sidebar-right {
  border-left: 4px solid #9e1a20;
}
.sidebar h2:first-child {
  margin-top: 0;
}
.sidebar h2,
.sidebar h3 {
  color: #777;
  font-weight: normal;
}
.sidebar h2 {
  font-size: 20px;
}
.sidebar h3 {
  font-size: 16px;
}

ul.hanging {
  list-style: none outside none;
  margin-left: 0;
  padding-left: 3em;
  text-indent: -2.5em;
}
ul.hanging li {
  padding-left: 1em;
}
ul.hanging li .tag {
  color: black;
  font-weight: bolder;
}
ul.hanging li .tag:after {
  content: ":";
}

dd {
  margin-left: 2em;
}

p.img {
  text-align: center;
}

img.dropcap {
  float: left;
  margin-right: 1em;
  margin-top: 0.3em;
}
