<h1>{{title}}</h1>

<p>
This is your outbox, but right now it's empty.
</p>

<p>
To find files, search for motors you want to use, then pick one of the available Simulator Files
and click "Add this file to my outbox."
</p>
