<h1>{{title}}</h1>

<p>
Here you will find manufacturer specs, certified performance data and other info on commercial model rocket motors and high-power rocket motors. Most importantly, you can download thrust curves for use with rocket flight simulators
(RockSim and OpenRocket among others).
</p>

<p>
The <a href="/info/certification.html">certification organizations</a>
test commercial rocket motors and certify them for hobby rocketry use.
This site organizes data on those rocket motors and provides a place for hobbyists to post their simulator files
and download those posted by others.
With well over a thousand data files contributed by many users, you've come to the right place for rocket motor data.
</p>

<p>
<big>Welcome to ThrustCurve.org!</big>
</p>

<p>
This site is supported and maintained by
<a mailto:john@jcsw.com">John Coker</a>
in the hope that it will be a valued resource for the rocketry community.
I want to thank the various motor testing organizations for their invaluable services to the rocketry hobby and all the hobbists who create motor test data and make it available to all.
See the <a href="/info/contribute.html">contribute page</a> for how you can help.
</p>

<p>
Copyright &copy; John Coker 1998-2016. All rights under copyright reserved.
</p>
