<h1>{{title}}</h1>

<p>
Here you will find manufacturer specs, certified performance data and other info on commercial model rocket motors and high-power rocket motors. Most importantly, you can download thrust curves for use with rocket flight simulators
(RockSim and OpenRocket among others).
</p>

<p>
The <a href="/info/certification.html">certification organizations</a>
test commercial rocket motors and certify them for hobby rocketry use.
This site organizes data on those rocket motors and provides a place for hobbyists to post their simulator files
and download those posted by others.
With well over a thousand data files contributed by many users, you've come to the right place for rocket motor data.
</p>

<p>
<big>Welcome to ThrustCurve.org; let's get started!</big>
</p>

<div class="hidden-xs">
  <style type="text/css">
  table.features {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  table.features th,
  table.features td {
    width: 25%;
    text-align: center;
    padding: 1em;
    border-left: 1px solid #9e1a20;
    border-right: 1px solid #9e1a20;
  }
  </style>
  <table class="features">
    <tr>
      <th><a href="/motors/search.html" class="btn btn-primary">Search Motors</a></th>
      <th><a href="/motors/guide.html" class="btn btn-primary">Match a Rocket</a></th>
      <th><a href="/motors/browser.html" class="btn btn-primary">Browse by Type</a></th>
      <th><a href="/motors/popular.html" class="btn btn-primary">Most Popular</a></th>
    </tr>
    <tr>
      <td>Traditional search based on name and other properties of rocket motors</td>
      <td>Enter some simple information about your rocket and get a listing of the motors that work.</td>
      <td>Find motors of interest by successively narrowing down categories.</td>
      <td>See the motors other people are looking at and which are their favorite.</td>
    </tr>
  </table>
</div>
<div class="hidden-sm hidden-md hidden-lg">
  <p class="img">
  <a href="/motors/search.html" class="btn btn-primary">Search Motors</a>
  </p>
  <p class="img">
  <a href="/motors/guide.html" class="btn btn-primary">Match a Rocket</a>
  </p>
  <p class="img">
  <a href="/motors/browser.html" class="btn btn-primary">Browse by Type</a>
  </p>
  <p class="img">
  <a href="/motors/popular.html" class="btn btn-primary">Most Popular</a>
  </p>
</div>

<hr/>
<p>
This site is supported and maintained by
<a mailto:john@jcsw.com">John Coker</a>
in the hope that it will be a valued resource for the rocketry community.
I want to thank the motor testing organizations for their invaluable services to the rocketry hobby
and the hobbyists who create motor data and make it available to all.
See the <a href="/info/contribute.html">contribute page</a> for how you can help.
</p>

<p>
Copyright &copy; John Coker 1998-2016. All rights under copyright reserved.
</p>
