<h1>{{title}}</h1>

<p>
If you contribute motor data or make your rockets public,
other people will be able to link to your profile on the site.
If you have an affiliation with a rocketry club or your own rocketry web site, you can add them.
</p>

<form role="form" class="form-horizontal" name="profile" action="{{submitLink}}" method="post" data-toggle="validator">
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Full Name</label>
    <div class="col-sm-9">
      <input type="text" name="name" class="form-control" required />
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input type="email" name="email" class="form-control" required />
      <span class="help-block with-errors"></span>
      <input type="checkbox" name="showEmail" checked/> Show email address publicly
    </div>
  </div>
  <div class="form-group">
    <label for="organization" class="col-sm-3 control-label">Organization</label>
    <div class="col-sm-9">
      <input type="text" organization="name" class="form-control" />
    </div>
  </div>
  <div class="form-group website">
    <label for="website" class="col-sm-3 control-label">Web Site</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="url" class="form-control" name="website" placeholder="http://...">
        <span class="input-group-addon"><a href="#" class="test"><i class="fa fa-external-link"></i></a></span>
      </div>
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 form-submit">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
</form>

<h2>Change Password</h2>

<p>
If you need to change your login password, please enter your new password twice.
</p>

<form role="form" class="form-horizontal" name="password" action="{{submitLink}}" method="post" data-toggle="validator">
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input type="password" name="password" id="password" class="form-control" required data-minlength="4" />
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <label for="password2" class="col-sm-3 control-label">Confirm</label>
    <div class="col-sm-9">
      <input type="password" name="password2" class="form-control" required data-match="#password" />
      <span class="help-block with-errors"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 form-submit">
      <button type="submit" class="btn btn-primary">Change</button>
    </div>
  </div>
</form>
